

<h2> Thời gian tiêu chuẩn có thể update vào Optiondata </h2>
@(Html.DevExtreme().DataGrid<NNworking.Models.sp_242_WTS_GetUpdateTGTC_Result>()
    .DataSource(ds => ds.WebApi()
        .RouteName("C242_WTSApi")
        .LoadAction("sp_242_WTS_GetUpdateTGTC")
    )
    .ID("dxWTSGetUpdateTGTC")
    .Paging(page => page.PageSize(10))
    .Pager(pager => pager.ShowPageSizeSelector(true)
        .ShowInfo(true)
        .AllowedPageSizes(new List<int> { 10, 20, 30, 50, 100, 200 })
    )
    .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
        .DescendingText("PartID")
    )
    .ColumnAutoWidth(true)
    .FilterRow(fil => fil.Visible(true))
    .FilterPanel(fi => fi.Visible(true))
    .SearchPanel(search => search.Visible(true)
        .HighlightSearchText(true)
        .Width(500)
    )
    .ShowColumnHeaders(true)
    .ShowRowLines(true)
    .RemoteOperations(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.Date).Caption("Ngày WTS");

        columns.AddFor(m => m.PartID).Caption("Tên chi tiết");

        columns.AddFor(m => m.OptionID).Caption("Nguyên công");

        columns.AddFor(m => m.MachineID).Caption("Máy trong Optiondata");

        columns.AddFor(m => m.OldProTime).Caption("Thời gian GC cũ");

        columns.AddFor(m => m.OldClampTime).Caption("Thời gian GL cũ");

        columns.AddFor(m => m.ProTime_New).Caption("Thời gian GC mới");

        columns.AddFor(m => m.ClampTime_New).Caption("Thời gian GL mới");

        columns.Add().Caption("Cập nhật").CellTemplate(new JS("ThaoTac"));
    })
    .MasterDetail(md =>
    {
        md.Enabled(true);
        md.Template(@<text>
        <div class="master-detail-caption"> Chi tiết thời gian bấm giờ 3 lần gần nhất</div>
        @(Html.DevExtreme().DataGrid<NNworking.Models.sp_242_WTS_GetUpdateTGTC_Detail_Result>()
            .DataSource(ds => ds.WebApi()
                .RouteName("C242_WTSApi")
                .LoadAction("sp_242_WTS_GetUpdateTGTC_Detail")
                .LoadParams(new { partid = new JS("data.PartID"), OptionID = new JS("data.OptionID") })
            )
            .ID("dxWTSGetUpdateTGTC_Detail")
            .Paging(page => page.PageSize(10))
            .Pager(pager => pager.ShowPageSizeSelector(true)
                .ShowInfo(true)
                .AllowedPageSizes(new List<int> { 10, 20, 30 })
            )
            .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
                .DescendingText("partid")
            )
            .ColumnAutoWidth(true)
            .FilterRow(fil => fil.Visible(true))
            .FilterPanel(fi => fi.Visible(true))
            .SearchPanel(search => search.Visible(true)
                .HighlightSearchText(true)
                .Width(500)
            )
            .ShowColumnHeaders(true)
            .ShowRowLines(true)
            .RemoteOperations(true)
            .Columns(columns =>
            {
                columns.AddFor(m => m.STT).Caption("Số thứ tự");

                columns.AddFor(m => m.partid).Caption("Tên chi tiết");

                columns.AddFor(m => m.OptionID).Caption("Nguyên công");

                columns.AddFor(m => m.ProTime).Caption("Thời gian GC");

                columns.AddFor(m => m.ClampTime).Caption("Thười gian GL");
            })
        )
        </text>);
    })
)

<script>
    function ThaoTac(container, options) {
        var id = options.data.ID;
        var row = options.data;
        var checkedNumber = options.data.CheckedNumber;
        var checkingItemNumber = options.data.CheckingItemNumber;
        var maxCheckingNumber = options.data.MaxNumber;

        var grid = $("dxWTSGetUpdateTGTC").dxDataGrid("instance");
        $("<div id='dxButton_ThaoTac_" + id + "'/>").dxButton({
            text: 'Cập nhật',
            type: "danger",
            onClick: function () {
                UpdateTGTCToOptionData(row);
            }
        }).appendTo(container);

    }

    function UpdateTGTCToOptionData(row) {
        var partid = row.PartID;
        var optionid = row.OptionID;
        var protime = row.ProTime_New;
        var clamptime = row.ClampTime_New;
        $.ajax({
            url: '@Url.Action("UpdateTGTCToOptionData", "AllDept")',
            type: "POST", //JSON
            dataType: "json",
            cache: false,
            data: { 'partid': partid, 'optionid': optionid, 'protime': protime, 'clamptime': clamptime },
            success: function (data) {
                if (data.Status != "OK") {
                    alert(data.Values);
                    return;
                }

                $("#dxWTSGetUpdateTGTC").dxDataGrid("instance").refresh();
            }
        });
    }
</script>