<div class="box box-body">
    <table width="1000px">
        <tr>
            <td>
                &nbsp;
                @(Html.DevExtreme().Button()
                    .Text("Import báo lỗi")
                    .ID("btnTracking")
                    .Type(ButtonType.Normal)
                    .Width(250)
                )
            </td>
        </tr>
    </table>
</div>
<h2> Danh sách hàng báo lỗi </h2>
@(Html.DevExtreme().DataGrid<NNworking.Models.View_242_ErrorItemNotify>()
    .DataSource(ds => ds.WebApi()
        .RouteName("C242_ErrorItemNotifyApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ID")
    )
    .Paging(page => page.PageSize(10))
    .Pager(pager => pager.ShowPageSizeSelector(true)
        .ShowInfo(true)
        .AllowedPageSizes(new List<int> { 10, 20, 30, 50, 100, 200 })
    )
    .OnExporting("onExportingDatagridToExcel").Export(e => e.Enabled(true)
        //.FileName("HangBaoLoi")
        .AllowExportSelectedData(true))
    .ColumnAutoWidth(true)
    .FilterRow(fil => fil.Visible(true))
    .FilterPanel(fi => fi.Visible(true))
    .SearchPanel(search => search.Visible(true)
        .HighlightSearchText(true)
        .Width(500)
    )
    .Columns(columns => {

        columns.AddFor(m => m.ID).AllowEditing(false);

        columns.AddFor(m => m.MONo).Caption("Mã lệnh");

        columns.AddFor(m => m.OptionID).Caption("Nguyên công");

        columns.AddFor(m => m.PartID).Caption("Tên chi tiết");

        columns.AddFor(m => m.ErrorNumber).Caption("Số lượng lỗi");

        columns.AddFor(m => m.NotifyDept).Caption("BP báo lỗi").Lookup(lup =>
            lup.DataSource(ds => ds.WebApi()
                .RouteName("C242_InventoryReceivedApi")
                .LoadAction("GetAllPartner")
                .Key("Code")
            )
            .DisplayExpr("Name")
            .ValueExpr("Code")
        );

        columns.AddFor(m => m.ErrorTypeID).Caption("Kiểu lỗi").Lookup(lup =>
            lup.DataSource(ds => ds.WebApi()
                .RouteName("C242_ErrorTypeApi")
                .LoadAction("Get")
                .Key("ID")
            )
            .DisplayExpr("ErrorType")
            .ValueExpr("ID")
        );

        columns.AddFor(m => m.ErrorContent).Caption("Nội dung lỗi");

        columns.AddFor(m => m.NotifyDate).Caption("Ngày thông báo");

        columns.AddFor(m => m.ReceiveErrorItemDate).Caption("Ngày nhận thông báo");

        columns.AddFor(m => m.Note).Caption("Ghi chú");

        columns.AddFor(m => m.Supplier).Caption("Nhà cung cấp").Lookup(lup =>
            lup.DataSource(ds => ds.WebApi()
                .RouteName("C242_InventoryReceivedApi")
                .LoadAction("GetAllPartner")
                .Key("Code")
            )
            .DisplayExpr("Name")
            .ValueExpr("Code")
        );

        columns.AddFor(m => m.RaiseErrorDept).Caption("BP gây lỗi").Lookup(lup =>
            lup.DataSource(ds => ds.WebApi()
                .RouteName("C242_InventoryReceivedApi")
                .LoadAction("GetAllPartner")
                .Key("Code")
            )
            .DisplayExpr("Name")
            .ValueExpr("Code")
        );

        columns.AddFor(m => m.ErrorComment).Caption("Nhận định lỗi");

        columns.AddFor(m => m.CauseOfError).Caption("Tác nhân gây lỗi");

        columns.AddFor(m => m.Evaluate).Caption("Đánh giá lỗi").Lookup(lup =>
            lup.DataSource(ds => ds.WebApi()
                .RouteName("C242_ErrorItemEvaluateApi")
                .LoadAction("Get")
                .Key("ID")
            )
            .DisplayExpr("Note")
            .ValueExpr("EvaluateIndex")
        );
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Mode(GridEditMode.Popup)
    )
    .OnInitNewRow("onInitNewRow")
)


<div id="background-popup"></div>
<div id="NotifyDiv">
</div>
<input id="File2" type="file" name="file" class="hide" onchange="ChoiceFilePhu()" />
<script>
    var popupStatus = 0;
    function disablePopup() {
        if (popupStatus == 1) {
            $("#NotifyDiv").fadeOut(200);
            $("#background-popup").fadeOut(200);
            popupStatus = 0;
        }
    }

    $("#background-popup").click(function () {
        disablePopup();
    });

    function loadBackgroundToPopup() {
        $("#background-popup").css("opacity", "0.2");
        $("#background-popup").fadeIn(200);
    }

    /** load các popup của các phần **/
    function loadListNoPopup() {
        if (popupStatus == 0) {
            $("#NotifyDiv").fadeIn(200);
            loadBackgroundToPopup();
            popupStatus = 1;
        }
    }

    function onInitNewRow(e){
        e.data.ID = 0;
    }

    $(document).on('click', '#btnTracking', function () {
        $('#File2').trigger('click');
    });

    function ChoiceFilePhu() {
        var file = $('#File2').get(0);
        var alo = file.files;
        var form = new FormData();
        form.append(alo[0].name, alo[0]);
        form.append('staffID', '@Session["StaffID"].ToString()');
        $.ajax({
            url: '@Url.Action("ImportBaoLoi", "AllDept")',
            type: "POST",
            contentType: false,
            processData: false,
            data: form,
            success: function (data) {
                alert(data.Values);
                if (data.Status != "OK") {
                    return;
                }

                if (data.Errors.length > 0)
                {
                    var html = '';
                    html += '<table class="table">                      ';
                    html += '    <tbody>                                ';
                    html += '        <tr>                               ';
                    html += '            <th>Dòng</th>            ';
                    html += '            <th>Trạng thái</th>               ';
                    html += '            <th>Nội dung</th>          ';
                    html += '        </tr>                              ';
                    html += '    </tbody>                               ';
                    html += '    <tbody id="ThongBaoOrderNoLoi_body">   ';
                    $.each(data.Errors, function (i, val) {
                        html += '        <tr>                               ';
                        html += '            <td>' + val.Line + '</td>                      ';
                        html += '            <td>' + val.Status + '</td>                      ';
                        html += '            <td>' + val.Des + '</td>                      ';
                        html += '        </tr>                              ';
                    });
                    html += '    </tbody>                               ';
                    html += '</table>                                   ';
                    $("#NotifyDiv").html(html);
                    loadListNoPopup();
                }

                $('#File2').val('');
            },
        });
    }
</script>