*.rar
*.zip
*.mp4
/Nhat_Nam/
/Nhat_Nam_Web/
/Nhat_Nam/.vs/
/Nhat_Nam/AutoUpdate/obj
/Nhat_Nam/Base/obj
/Nhat_Nam/Base/bin
/Nhat_Nam/NT_Software/obj
/Nhat_Nam/NT_Software/bin
/Nhat_Nam/packages
/Nhat_Nam/ProcessingWork/obj
/Nhat_Nam/ProcessingWork/bin
/Nhat_Nam/SendEmail/obj
/Nhat_Nam/SendEmail/bin
/Nhat_Nam/SendEmailDll/obj
/Nhat_Nam/SendEmailDll/bin
/Nhat_Nam/WorkingNotification/obj
/Nhat_Nam/WorkingNotification/bin
/Nhat_Nam_Web/.vs/
/NhatNam_web_new/App_Start/
/NhatNam_web_new/DevExtremeMvcApp2/
/NhatNam_web_new/WebRelease/
/NhatNam_web_new/NNworking/.vs/
NhatNam_web_new/NNworking/NNworking/Files/
NhatNam_web_new/NNworking/NNworking/obj


