USE [rrc_database]
GO
/****** Object:  Table [dbo].[222_Department]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[222_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [nvarchar](50) NOT NULL,
	[DeptName] [nvarchar](50) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_222_Department] PRIMARY KEY CLUSTERED 
(
	[DeptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_222_Department]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_222_Department]
AS
SELECT                      ID, DeptCode, DeptName, Deleted
FROM                         dbo.[222_Department ]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_BusOder]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_BusOder](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BOderNo] [nvarchar](50) NOT NULL,
	[Date] [datetime] NULL,
	[PlanNo] [nvarchar](50) NULL,
	[PartID] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[Deadline] [datetime] NULL,
	[RawQty] [int] NULL,
	[HelisertQty] [int] NULL,
	[BlastQty] [int] NULL,
	[MONo] [nvarchar](50) NULL,
	[MOQty] [int] NULL,
	[Started] [bit] NULL,
	[Finished] [bit] NULL,
	[FinishDate] [datetime] NULL,
	[Change] [nvarchar](50) NULL,
	[ChangeDate] [datetime] NULL,
	[Imported] [bit] NULL,
	[ImportFrom] [nvarchar](50) NULL,
	[Note] [nvarchar](50) NULL,
	[CuttingOrder] [nvarchar](50) NULL,
	[CuttingStatus] [bit] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_BusOder] PRIMARY KEY CLUSTERED 
(
	[BOderNo] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_BusOder]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_BusOder]
AS
SELECT                      ID, BOderNo, Date, PlanNo, PartID, Qty, Deadline, RawQty, HelisertQty, BlastQty, MONo, MOQty, Started, Finished, FinishDate, Change, ChangeDate, Imported, ImportFrom, Note, CuttingOrder, 
                                      CuttingStatus, Deleted
FROM                         dbo.[242_BusOder]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Jig]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Jig](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[JigType] [nvarchar](50) NOT NULL,
	[JigName] [nvarchar](30) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_Jig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_Jig]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_Jig]
AS
SELECT                      ID, JigType, JigName, Deleted
FROM                         dbo.[242_Jig]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Material]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Material](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MaterialID] [nvarchar](20) NOT NULL,
	[Density] [float] NOT NULL,
	[UnitPrice] [smallmoney] NULL,
	[Type] [nvarchar](20) NULL,
	[DateModified] [datetime] NULL,
	[StaffID] [varchar](10) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_Material]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_Material]
AS
SELECT                      ID, MaterialID, Density, UnitPrice, Type, DateModified, StaffID, Deleted
FROM                         dbo.[242_Material]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Option]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Option](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [nvarchar](50) NULL,
	[OptionID] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[InputTime] [datetime] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_Option] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_Option]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_Option]
AS
SELECT                      ID, DeptCode, OptionID, Note, InputTime, Deleted
FROM                         dbo.[242_Option]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_OptionData]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_OptionData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[InputDate] [datetime] NULL,
	[PartID] [nvarchar](50) NULL,
	[MachineID] [nvarchar](50) NULL,
	[OptionID] [nvarchar](50) NULL,
	[LastOption] [bit] NULL,
	[JigID] [nvarchar](50) NULL,
	[ToolQty] [int] NULL,
	[ProTime] [float] NULL,
	[ClampTime] [float] NULL,
	[TechDate] [bit] NULL,
	[UpdateDay] [datetime] NULL,
	[StaffID] [nvarchar](50) NULL,
	[Note] [nvarchar](255) NULL,
	[AondNote] [nvarchar](50) NULL,
	[Memo] [nvarchar](255) NULL,
	[CLUpdateday] [datetime] NULL,
	[JigType] [nvarchar](50) NULL,
	[Jig] [bit] NULL,
	[tich] [float] NULL,
	[doc] [float] NULL,
	[TimeTreo] [float] NULL,
	[TimeComplete] [float] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_OptionData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_OptionData]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_OptionData]
AS
SELECT                      ID, InputDate, PartID, MachineID, OptionID, LastOption, JigID, ToolQty, ProTime, ClampTime, TechDate, UpdateDay, StaffID, Note, AondNote, Memo, CLUpdateday, JigType, Jig, tich, doc, TimeTreo, 
                                      TimeComplete, Deleted
FROM                         dbo.[242_OptionData]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Part]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Part](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PartNo] [nvarchar](50) NOT NULL,
	[PartName] [nvarchar](50) NULL,
	[CustomerID] [nvarchar](3) NOT NULL,
	[SupplierID] [nvarchar](20) NOT NULL,
	[UpQty] [int] NULL,
	[GiaThanh] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_Part] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_Part]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_Part]
AS
SELECT                      ID, PartNo, PartName, CustomerID, SupplierID, UpQty, GiaThanh, Deleted
FROM                         dbo.[242_Part]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Planning]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Planning](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[K] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Shift] [nvarchar](50) NULL,
	[MachineID] [nvarchar](50) NULL,
	[OptionID] [nvarchar](50) NULL,
	[MONo] [nvarchar](50) NULL,
	[Dept] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_Planning] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_Planning]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_Planning]
AS
SELECT                      ID, K, Date, Shift, MachineID, OptionID, MONo, Dept, Note, Deleted
FROM                         dbo.[242_Planning]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_PartData]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_PartData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[InputDate] [datetime] NULL,
	[PartID] [nvarchar](50) NULL,
	[MaterialID] [nvarchar](50) NULL,
	[MaterialType] [nvarchar](50) NULL,
	[Workpiecesize] [nvarchar](50) NULL,
	[shape] [nvarchar](50) NULL,
	[Thickness] [float] NULL,
	[width] [nvarchar](50) NULL,
	[lenght] [float] NULL,
	[Cut] [bit] NULL,
	[RawMachine] [bit] NULL,
	[HandFinish] [bit] NULL,
	[HairLine] [bit] NULL,
	[WAnod] [bit] NULL,
	[BAnod] [bit] NULL,
	[Blast30] [bit] NULL,
	[Blast60] [bit] NULL,
	[Seal] [bit] NULL,
	[Migaki] [bit] NULL,
	[Bafu] [bit] NULL,
	[Cleanwave] [bit] NULL,
	[VacPac] [bit] NULL,
	[Helisert] [bit] NULL,
	[SerialNo] [bit] NULL,
	[PalCoat] [bit] NULL,
	[Paint] [bit] NULL,
	[BBD] [bit] NULL,
	[Otherpro] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[Memo] [nvarchar](max) NULL,
	[Note] [nvarchar](250) NULL,
	[Caciras] [bit] NULL,
	[Inside] [bit] NULL,
	[MaBong] [bit] NULL,
	[InLuoi] [bit] NULL,
	[Heru] [bit] NULL,
	[Niken] [bit] NULL,
	[MaiBongDP] [bit] NULL,
	[CofigID] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_PartData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_PartData]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_PartData]
AS
SELECT                      ID, InputDate, PartID, MaterialID, MaterialType, Workpiecesize, shape, Thickness, width, lenght, Cut, RawMachine, HandFinish, HairLine, WAnod, BAnod, Blast30, Blast60, Seal, Migaki, Bafu, Cleanwave, 
                                      VacPac, Helisert, SerialNo, PalCoat, Paint, BBD, Otherpro, Price, Memo, Note, Caciras, Inside, MaBong, InLuoi, Heru, Niken, MaiBongDP, CofigID, Deleted
FROM                         dbo.[242_PartData]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_WTS]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_WTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPlan] [int] NOT NULL,
	[Date] [datetime] NULL,
	[StaffID] [nvarchar](50) NULL,
	[Shift] [nvarchar](50) NULL,
	[MachineID] [nvarchar](50) NULL,
	[OptionID] [nvarchar](50) NULL,
	[MONo] [nvarchar](50) NULL,
	[WorkID] [nvarchar](50) NULL,
	[Time] [decimal](18, 0) NULL,
	[OKQty] [int] NULL,
	[NGQty] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_242_WTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_242_WTS]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_242_WTS]
AS
SELECT                      ID, IDPlan, Date, StaffID, Shift, MachineID, OptionID, MONo, WorkID, Time, OKQty, NGQty, Note, Deleted
FROM                         dbo.[242_WTS]
WHERE                       (Deleted = 0)
GO
/****** Object:  Table [dbo].[242_Dulieudonhangmoi]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_Dulieudonhangmoi](
	[Date] [datetime] NULL,
	[BusOrder] [nvarchar](50) NOT NULL,
	[Gctho] [bit] NULL,
	[NgayDKM] [datetime] NULL,
	[NgayDKNCKTra] [datetime] NULL,
	[NgayDKNCVia] [datetime] NULL,
	[NgaycoPhoi] [datetime] NULL,
 CONSTRAINT [PK_242_Dulieudonhangmoi] PRIMARY KEY CLUSTERED 
(
	[BusOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[242_P_NhapOrderlapKHGC]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_P_NhapOrderlapKHGC](
	[Date] [datetime] NULL,
	[MONumber] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[P_LayNClamKHGcong01]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[P_LayNClamKHGcong01]
AS
SELECT                      TOP (100) PERCENT T5.Date, T4.PartID, T4.Deadline - 7 AS ProDeadline, T5.MONumber, T3.OptionID, T3.MachineID, T3.JigType, T3.JigID, T4.PlanNo, T4.Qty, T4.MOQty, 
                                      T2.Workpiecesize + '-' + T2.MaterialType AS Material, T3.ProTime, CASE WHEN T3.ClampTime IS NULL THEN 0 ELSE T3.ClampTime END AS ClampTime, T4.BOderNo, T3.LastOption, 
                                      T3.ToolQty * 1 AS Changetooltimes, T3.Jig, CASE WHEN ISNUMERIC(RIGHT(T3.OptionID, 2)) = 0 THEN T3.OptionID ELSE CONVERT(nvarchar, RIGHT(T3.OptionID, 2) * 1) END AS SoNc, T3.UpdateDay, 
                                      CASE WHEN LEFT([OptionID], 1) = 'S' THEN (CASE WHEN (T3.MachineID = 'V55' OR
                                      T3.MachineID = 'A55' OR
                                      T3.MachineID = '600N' OR
                                      T3.MachineID = '2PL' OR
                                      T3.MachineID = '4PL' OR
                                      T3.MachineID = 'A77') THEN ((T4.MOQty + 2) * T3.ProTime + 30 + (T3.ToolQty * 1) * 2) ELSE ((T4.MOQty + 2) * (T3.ProTime + CASE WHEN T3.ClampTime IS NULL THEN 0 ELSE T3.ClampTime END) + 30) 
                                      END) ELSE T4.MOQty * [ProTime] END AS Durations, T5.Note AS Note1, T3.Note, T6.Gctho, T6.NgaycoPhoi, T6.NgayDKM, T3.StaffID
FROM                         dbo.View_242_Part AS T1 INNER JOIN
                                      dbo.View_242_PartData AS T2 INNER JOIN
                                      dbo.View_242_OptionData AS T3 ON T2.PartID = T3.PartID ON T1.PartNo = T2.PartID INNER JOIN
                                      dbo.View_242_BusOder AS T4 ON T2.PartID = T4.PartID INNER JOIN
                                      dbo.[242_P_NhapOrderlapKHGC] AS T5 ON T4.MONo = T5.MONumber LEFT OUTER JOIN
                                      dbo.[242_Dulieudonhangmoi] AS T6 ON T4.PartID = T6.BusOrder
ORDER BY               ProDeadline, T5.MONumber, T3.OptionID
GO
/****** Object:  View [dbo].[P_LayNClamKHGcong02]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[P_LayNClamKHGcong02]
AS
SELECT                      MONumber, COUNT(MONumber) AS TongNC
FROM                         dbo.P_LayNClamKHGcong01
GROUP BY              MONumber
GO
/****** Object:  View [dbo].[P_LayNClamKHGcong03]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[P_LayNClamKHGcong03]
AS
SELECT                      TOP (100) PERCENT dbo.P_LayNClamKHGcong01.Date, dbo.P_LayNClamKHGcong01.PartID, CASE WHEN ISNUMERIC(dbo.P_LayNClamKHGcong01.SoNc) 
                                      = 0 THEN dbo.P_LayNClamKHGcong01.SoNc ELSE dbo.P_LayNClamKHGcong01.SoNc + '/' + CONVERT(nvarchar(50), dbo.P_LayNClamKHGcong02.TongNC) END AS NC, 
                                      dbo.P_LayNClamKHGcong01.ProDeadline, dbo.P_LayNClamKHGcong01.MachineID, 'Gia cong' AS ActualMachine, dbo.P_LayNClamKHGcong01.JigType, dbo.P_LayNClamKHGcong01.JigID, 
                                      dbo.P_LayNClamKHGcong01.PlanNo, dbo.P_LayNClamKHGcong01.MONumber, dbo.P_LayNClamKHGcong01.Qty, dbo.P_LayNClamKHGcong01.MOQty, dbo.P_LayNClamKHGcong01.Material, 
                                      dbo.P_LayNClamKHGcong01.ProTime, dbo.P_LayNClamKHGcong01.ClampTime, (dbo.P_LayNClamKHGcong01.ProTime + dbo.P_LayNClamKHGcong01.ClampTime) 
                                      * dbo.P_LayNClamKHGcong01.MOQty + (CASE WHEN isnumeric(P_LayNClamKHGcong01.StaffID) = 1 THEN CONVERT(int, P_LayNClamKHGcong01.StaffID) ELSE 0 END) AS Expr1, 
                                      dbo.P_LayNClamKHGcong01.BOderNo, CONVERT(bit, CASE WHEN dbo.P_LayNClamKHGcong01.OptionID LIKE 'STG%' THEN dbo.P_LayNClamKHGcong01.LastOption ELSE 0 END) AS LastOption, 
                                      dbo.P_LayNClamKHGcong01.Changetooltimes, dbo.P_LayNClamKHGcong01.Jig, dbo.P_LayNClamKHGcong01.UpdateDay, dbo.[242_P_NhapOrderlapKHGC].Note AS Note2, dbo.P_LayNClamKHGcong01.Note, 
                                      dbo.P_LayNClamKHGcong01.Gctho, dbo.P_LayNClamKHGcong01.NgaycoPhoi, dbo.P_LayNClamKHGcong01.NgayDKM, dbo.P_LayNClamKHGcong01.StaffID, dbo.P_LayNClamKHGcong02.TongNC, 
                                      dbo.P_LayNClamKHGcong01.SoNc
FROM                         dbo.P_LayNClamKHGcong02 INNER JOIN
                                      dbo.P_LayNClamKHGcong01 ON dbo.P_LayNClamKHGcong02.MONumber = dbo.P_LayNClamKHGcong01.MONumber INNER JOIN
                                      dbo.[242_P_NhapOrderlapKHGC] ON dbo.P_LayNClamKHGcong02.MONumber = dbo.[242_P_NhapOrderlapKHGC].MONumber
GROUP BY              dbo.P_LayNClamKHGcong01.Date, dbo.P_LayNClamKHGcong01.PartID, dbo.P_LayNClamKHGcong01.ProDeadline, CASE WHEN ISNUMERIC(dbo.P_LayNClamKHGcong01.SoNc) 
                                      = 0 THEN dbo.P_LayNClamKHGcong01.SoNc ELSE dbo.P_LayNClamKHGcong01.SoNc + '/' + CONVERT(nvarchar(50), dbo.P_LayNClamKHGcong02.TongNC) END, dbo.P_LayNClamKHGcong01.MachineID, 
                                      dbo.P_LayNClamKHGcong01.JigType, dbo.P_LayNClamKHGcong01.JigID, dbo.P_LayNClamKHGcong02.TongNC, dbo.P_LayNClamKHGcong01.SoNc, dbo.P_LayNClamKHGcong01.PlanNo, 
                                      dbo.P_LayNClamKHGcong01.MONumber, dbo.P_LayNClamKHGcong01.Qty, dbo.P_LayNClamKHGcong01.MOQty, dbo.P_LayNClamKHGcong01.Material, dbo.P_LayNClamKHGcong01.ProTime, 
                                      dbo.P_LayNClamKHGcong01.ClampTime, dbo.P_LayNClamKHGcong01.Durations, dbo.P_LayNClamKHGcong01.BOderNo, dbo.P_LayNClamKHGcong01.LastOption, dbo.P_LayNClamKHGcong01.Changetooltimes, 
                                      dbo.P_LayNClamKHGcong01.Jig, dbo.P_LayNClamKHGcong01.UpdateDay, dbo.[242_P_NhapOrderlapKHGC].Note, dbo.P_LayNClamKHGcong01.Note, dbo.P_LayNClamKHGcong01.Gctho, 
                                      dbo.P_LayNClamKHGcong01.NgaycoPhoi, dbo.P_LayNClamKHGcong01.NgayDKM, dbo.P_LayNClamKHGcong01.StaffID, dbo.P_LayNClamKHGcong01.OptionID
ORDER BY               dbo.P_LayNClamKHGcong01.ProDeadline, dbo.P_LayNClamKHGcong01.MONumber, NC
GO
/****** Object:  Table [dbo].[222_Staff]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[222_Staff](
	[StaffID] [nvarchar](50) NOT NULL,
	[StaffName] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[StopDate] [datetime] NULL,
	[SecID] [nvarchar](50) NULL,
	[SecName] [nvarchar](50) NULL,
	[GroupID] [nvarchar](50) NULL,
	[Sub-Group] [nvarchar](50) NULL,
	[PersonalInf] [nvarchar](50) NULL,
	[Sex] [bit] NULL,
	[DepartmentID] [nvarchar](50) NULL,
	[Photo] [ntext] NULL,
	[Education] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](250) NULL,
	[level] [int] NULL,
	[StaffNote] [nvarchar](50) NULL,
	[BoPhan] [nvarchar](50) NULL,
	[VITRI] [nvarchar](50) NULL,
	[TT-GT] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[EmailHC] [nvarchar](150) NULL,
	[ngduyet] [nvarchar](50) NULL,
	[ngduyet2] [nvarchar](50) NULL,
	[ngduyet3] [nvarchar](50) NULL,
	[BusStation] [nvarchar](50) NULL,
	[BusStation_Original] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreateDate] [date] NOT NULL,
	[StopDate1] [datetime] NULL,
	[Number] [int] NULL,
	[EmailSoft] [nvarchar](200) NULL,
 CONSTRAINT [PK_222_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[222_Users]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[222_Users](
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[UserGroupID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[StaffID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_222_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[242_MO]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[242_MO](
	[MONo] [nvarchar](50) NOT NULL,
	[date] [datetime] NULL,
	[PartID] [nvarchar](50) NULL,
	[MOQty] [int] NULL,
	[DeadLine] [datetime] NULL,
	[HelisertQty] [int] NULL,
	[BlastQty] [int] NULL,
	[Started] [bit] NULL,
	[startdate] [datetime] NULL,
	[Finished] [bit] NULL,
	[Finishdate] [datetime] NULL,
	[OKQty] [int] NULL,
	[NGQty] [int] NULL,
	[Imported] [bit] NULL,
	[Note] [nvarchar](250) NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SPQty] [int] NULL,
	[AutoStart] [bit] NULL,
	[AutoStartTime] [datetime] NULL,
 CONSTRAINT [PK_242_MO] PRIMARY KEY CLUSTERED 
(
	[MONo] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[222_Department] ADD  CONSTRAINT [DF_222_Department_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[222_Staff] ADD  CONSTRAINT [DF_222_Staff_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[242_BusOder] ADD  CONSTRAINT [DF_242_BusOder_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[242_Jig] ADD  CONSTRAINT [DF_242_Jig_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[242_Material] ADD  CONSTRAINT [DF_242_Material_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[242_MO] ADD  CONSTRAINT [DF_242_MO_Started]  DEFAULT ((0)) FOR [Started]
GO
ALTER TABLE [dbo].[242_MO] ADD  CONSTRAINT [DF_242_MO_Finished]  DEFAULT ((0)) FOR [Finished]
GO
ALTER TABLE [dbo].[242_MO] ADD  CONSTRAINT [DF_242_MO_Imported]  DEFAULT ((0)) FOR [Imported]
GO
ALTER TABLE [dbo].[242_Option] ADD  CONSTRAINT [DF_Table_1_Status]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[242_OptionData] ADD  CONSTRAINT [DF_242_OptionData_ReadDocument]  DEFAULT ((0)) FOR [tich]
GO
ALTER TABLE [dbo].[242_OptionData] ADD  CONSTRAINT [DF_242_OptionData_doc]  DEFAULT ((0)) FOR [doc]
GO
ALTER TABLE [dbo].[242_OptionData] ADD  CONSTRAINT [DF_242_OptionData_TimeTreo]  DEFAULT ((0)) FOR [TimeTreo]
GO
ALTER TABLE [dbo].[242_OptionData] ADD  CONSTRAINT [DF_242_OptionData_TimeComplete]  DEFAULT ((0)) FOR [TimeComplete]
GO
ALTER TABLE [dbo].[242_OptionData] ADD  CONSTRAINT [DF_242_OptionData_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[242_PartData] ADD  CONSTRAINT [DF_242_PartData_Paint]  DEFAULT ((0)) FOR [Paint]
GO
ALTER TABLE [dbo].[242_PartData] ADD  CONSTRAINT [DF_242_PartData_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  StoredProcedure [dbo].[sp_222_Department_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_222_Department_Update] 
	@ID int,
	@DeptCode nvarchar(250),
	@DeptName nvarchar(250),
	@Deleted bit
AS
BEGIN
	
	update [222_Department] set 
	 DeptCode = @DeptCode
	,DeptName = @DeptName
	,Deleted  = @Deleted 
	where ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_242_BusOder_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[sp_242_BusOder_Update]
	(@ID int,
	@Date 	[datetime],
	 @BOderNo 	[nvarchar](20),
	 @PlanNo 	[nvarchar](20),
	 @PartID 	[nvarchar](20),
	 @Qty 	[int],
	 @Deadline 	[datetime],
	 @RawQty 	[bit],
	 @HelisertQty 	[int],
	 @BlastQty 	[int],
	 @MONo 	[nvarchar](50),
	 @MOQty 	[int],
	 @Started 	[bit],
	 @Finished 	[bit],
	 @Change 	[nvarchar](50),
	 @ChangeDate 	[datetime],
	 @Imported 	[bit],
	 @Note 	[nvarchar](250),
	 @FinishDate datetime,
	 @ImportFrom [nvarchar](250))

AS 
		
Update [242_BusOder] 
	 set
	  [Date] = @Date,
	 [PlanNo] = @PlanNo,
	 [PartID] =  @PartID,
	 [Qty] = @Qty,
	 [DeadLine] = @Deadline,
	 [RawQty] = @RawQty,
	 [HelisertQty] =  @HelisertQty,
	 [BlastQty] = @BlastQty,
	 [MONo] =  @MONo,
	 [MOQty] = @MOQty,
	 [Started] = @Started,
	 [Finished] =  @Finished,
	 [Change] = @Change,
	 [ChangeDate] = getdate(),
	 [Imported] =  @Imported,
	 [ImportFrom] =  @ImportFrom,
	 [FinishDate] = @FinishDate,
	 [Note] =  @Note,
	 [BOderNo] =  @BOderNo
Where
	   ID = @ID
	 

GO
/****** Object:  StoredProcedure [dbo].[sp_242_Material_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_242_Material_Update]
(
	@MaterialID nvarchar(50),
	@Density float,
	@UnitPrice money,
	@Type nvarchar(50),
	@ID int,
	@DateModified datetime,
	@StaffID nvarchar(50)
)
AS
BEGIN
	Update  [242_Material]
	set
		Density = @Density,
		UnitPrice =@UnitPrice,
		Type = @Type,
		MaterialID =@MaterialID,
		DateModified =@DateModified,
		StaffID =@StaffID
	where ID =@ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_242_Option_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
create proc [dbo].[sp_242_Option_Update]
	  @ID         int,
      @DeptCode nvarchar(50),
      @OptionID nvarchar(50),
      @Note nvarchar(Max),
      @Deleted bit
as 
begin

	update [242_Option] set 
	 DeptCode = @DeptCode
	,OptionID = @OptionID
	,Note 	  = @Note 
	,Deleted  = @Deleted 
	where ID = @ID

end
GO
/****** Object:  StoredProcedure [dbo].[sp_242_Part_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_242_Part_Update]
(
	@ID int,
	@PartNo nvarchar(50),
	@PartName nvarchar(50),
	@CustomerID nvarchar(50),
	@SupplierID nvarchar(50),
	@UpQty int,
	@GiaThanh int,
	@Deleted bit
)
AS
BEGIN
	Update [242_Part]
	set
		PartName = @PartName,
		CustomerID = @CustomerID,
		SupplierID = @SupplierID,
		UpQty = @UpQty,
		PartNo = @PartNo,
		GiaThanh = @GiaThanh,
		Deleted = @Deleted
	where 
		ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_242_PartData_UpdateMaterial]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_242_PartData_UpdateMaterial]
	(
	@ID int,
	@InputDate 	[datetime],
	 @MaterialID 	[nvarchar](50),
	 @MaterialType 	[nvarchar](50),
	 @PartID 	[nvarchar](20),
	 @workpiecesize 	nvarchar(50),
	 @shape 	nvarchar(250),
	 @thickness 	float,
	 @width 	nvarchar(50),
	 @lenght 	float,
	 @cut 	bit,
	 @rawMachine 	bit,
	 @handFinish 	[bit],
	 @hairLine 	[bit],
	 @wAnod 	bit,
	 @bAnod 	bit,
	 @blast30 	[bit],
	 @blast60 	bit,
	 @seal bit,

	 @migaki bit,
	 @Bafu	bit,
	 @Cleanwave bit,
	 @VacPac bit,
	 @Helisert	bit,
	 @SerialNo	bit,
	 @PalCoat bit,
	 @Caciras bit,
	 @InLuoi bit,
	 @Heru bit,
	 @Niken bit,
	 @MaiBongDP bit,
	 @MaBong bit,
	 @Inside	bit,
	 @BBD	bit,
	 @Paint	bit,
	 @Otherpro nvarchar(25),
	 @Price	money,
	 @Memo nvarchar(250),
	 @Note	nvarchar(250)
	 )

AS Update [242_PartData] 
	 set

	  InputDate = @InputDate,
	 [PartID] =  @PartID,
	 MaterialID = @MaterialID,
	 MaterialType = @MaterialType,
	 Workpiecesize = @Workpiecesize,
	 shape = @shape,
	 Thickness = @Thickness,
	 width = @width,
	 lenght = @lenght,
	 Cut = @Cut,
	 RawMachine = @RawMachine,
	 HandFinish = @HandFinish,
	 HairLine = @HairLine,
	 WAnod = @WAnod,
	 BAnod = @BAnod,
	 Blast30 = @Blast30,
	 Blast60 = @Blast60,
	 Seal = @Seal,
	 Migaki = @Migaki,
	 Bafu = @Bafu,
	 Cleanwave = @Cleanwave,
	 VacPac = @VacPac,
	 Helisert = @Helisert,
	 SerialNo = @SerialNo,
	 PalCoat = @PalCoat,
	 Otherpro = @Otherpro,
	 Price = @Price,
	 Memo = @Memo,
	 Inside = @Inside,
	 [Note] =  @Note,
	 Caciras = @Caciras,
	 InLuoi  = @InLuoi ,
	 Heru  = @Heru ,
	 Niken = @Niken,
	 MaiBongDP = @MaiBongDP,
	 MaBong = @MaBong ,
	 Paint = @Paint,
	 BBD = @BBD 
Where
	   [ID] =  @ID
GO
/****** Object:  StoredProcedure [dbo].[sp_242_Planning_Delete]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_242_Planning_Delete]
(
	@ID int
)
AS
BEGIN
	update  [242_Planning]  set Deleted = 1
	where ID =@ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_242_Planning_Update]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_242_Planning_Update]
(
	@ID int,
	@K nvarchar(50),
	@Date nvarchar(50),
	@Shift nvarchar(50),
	@MachineID nvarchar(50),
	@OptionID nvarchar(50),
	@MONo nvarchar(50),
	@Dept nvarchar(50),
	@Note nvarchar(MAX),
	@Deleted bit
)
AS
BEGIN
	Update  [242_Planning]
	set
		K         = @K       ,
		Date	  = @Date	 ,
		Shift	  = @Shift	 ,
		MachineID	  = @MachineID ,
		OptionID  = @OptionID,
		MONo	  = @MONo	 ,
		Dept	  = @Dept	 ,
		Note	  = @Note	 ,
		Deleted  = @Deleted
	where ID =@ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_242_WTS_GetAll]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE proc [dbo].[sp_242_WTS_GetAll]
@fromDate nvarchar(50),
@toDate nvarchar(50)

as
begin

	select 
	   isnull(T2.ID       ,0) as ID
      ,isnull(T2.IDPlan	  ,T1.ID) as IDPlan
      ,isnull(T2.Date	  ,T1.Date) as Date
      ,isnull(T2.Shift	  ,T1.Shift) as Shift
      ,isnull(T2.MachineID,T1.MachineID) as MachineID
      ,isnull(T2.OptionID ,T1.OptionID) as OptionID
      ,isnull(T2.MONo	  ,T1.MONo) as MONo
      ,isnull(T2.StaffID  ,'') as StaffID
      ,isnull(T2.WorkID	  ,isnull(T3.DeptCode,'')) as WorkID
      ,isnull(T2.Time	  ,0) as Time
      ,isnull(T2.OKQty	  ,0) as OKQty
      ,isnull(T2.NGQty	  ,0) as NGQty
      ,isnull(T2.Note	  ,'') as Note

	from View_242_Planning as T1 full 
	outer join View_242_WTS as T2 on T1.ID = T2.IDPlan
	left join View_242_Option as T3 on isnull(T2.OptionID ,T1.OptionID) = T3.OptionID
	where isnull(T2.Date	  ,T1.Date) between convert(date,@fromDate) and convert(date,@toDate)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_242_WTS_InsertOrUpdate]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_242_WTS_InsertOrUpdate]
(
	@ID        int,
	@IDPlan	   nvarchar(50),
	@Date	   nvarchar(50),
	@StaffID   nvarchar(50),
	@Shift	   nvarchar(50),
	@MachineID nvarchar(50),
	@OptionID  nvarchar(50),
	@MONo	   nvarchar(50),
	@WorkID	   nvarchar(50),
	@Time	   decimal,
	@OKQty	   int,
	@NGQty	   int,
	@Note	   nvarchar(MAX),
	@Deleted   bit
)
AS
BEGIN

	if(@ID = 0)
		insert into [242_WTS] (
			 IDPlan	  
			,Date	  
			,StaffID  
			,Shift	  
			,MachineID
			,OptionID 
			,MONo	  
			,WorkID	  
			,Time	  
			,OKQty	  
			,NGQty	  
			,Note	  
			,Deleted  
			) 
			values
			(
			 @IDPlan	  
			,convert(Date,@Date	  )
			,@StaffID  
			,@Shift	  
			,@MachineID
			,@OptionID 
			,@MONo	  
			,@WorkID	  
			,@Time	  
			,@OKQty	  
			,@NGQty	  
			,@Note	  
			,0
			) ;
	else
		update [242_WTS] set
			IDPlan	  = @IDPlan	  
			,Date	  = convert(Date,@Date)
			,StaffID   = @StaffID  
			,Shift	  = @Shift	  
			,MachineID = @MachineID
			,OptionID  = @OptionID 
			,MONo	  = @MONo	  
			,WorkID	  = @WorkID	  
			,Time	  = @Time	  
			,OKQty	  = @OKQty	  
			,NGQty	  = @NGQty	  
			,Note	  = @Note	  
			,Deleted   = @Deleted  
		where ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNhanVienDacBiet]    Script Date: 3/20/2020 6:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





create proc [dbo].[sp_DanhSachNhanVienDacBiet]
as

begin

select ('1556') as StaffID

end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'yyyy/MM/dd' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'242_BusOder', @level2type=N'COLUMN',@level2name=N'Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[24] 2[47] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "T5"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 383
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T6"
            Begin Extent = 
               Top = 270
               Left = 246
               Bottom = 400
               Right = 418
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T2"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T3"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T4"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong01'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong01'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong01'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P_LayNClamKHGcong01"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong02'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong02'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[16] 2[51] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P_LayNClamKHGcong02"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 101
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "P_LayNClamKHGcong01"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 135
               Right = 458
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "242_P_NhapOrderlapKHGC"
            Begin Extent = 
               Top = 102
               Left = 38
               Bottom = 215
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong03'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'P_LayNClamKHGcong03'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "222_Department "
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_222_Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_222_Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_BusOder"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_BusOder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_BusOder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_Jig"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Jig'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Jig'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_Material"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Material'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Material'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_Option"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Option'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Option'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_OptionData"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_OptionData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_OptionData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_Part"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Part'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Part'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_PartData"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_PartData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_PartData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_Planning"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Planning'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_Planning'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "242_WTS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_WTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_242_WTS'
GO
