<!DOCTYPE html>

<html>
<head>
    <!--base css styles-->
    <link rel="stylesheet" href="~/Content/wts/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/wts/assets/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="~/Content/wts/assets/font-awesome/css/font-awesome.min.css">
    <!--page specific css styles-->

    <link rel="stylesheet" href="~/Content/wts/css/flaty.css">
	<link rel="stylesheet" href="~/Content/wts/css/Style.css">
    <link rel="stylesheet" href="~/Content/wts/css/flaty-responsive.css">

    <link href="~/Content/wts/css/Login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
</body>
</html>
