
@{
    ViewBag.Title = "Redmine";
}

@*<iframe src="http://192.168.1.57:84/redmine" title="Quản lý giao việc"></iframe>*@
@*<iframe src="http://localhost:55753/Trang-chu/Index.html" width="100%" height="100%" title="Quản lý giao việc"></iframe>*@
<html>
<body>
    <iframe src="http://192.168.1.57:84/redmine" 
                title="Quản lý giao việc" style="border:none;" 
                width="100%" height="1000">
    </iframe>
</body>
</html>