@{ 
    var date = ViewBag.Date;
    var staffID = ViewBag.StaffID;
    var shift = ViewBag.Shift;
}

@(Html.DevExtreme().DataGrid<NNworking.Models.View_242_WTS>()
        .DataSource(ds => ds.WebApi()
            .RouteName("C242_WTSApi")
            .LoadAction("GetDetailWTSGT")
            .LoadParams(new { staffID = new JS("getStaffID"), shift = new JS("getShiftValue"), date = new JS("getDateValue")})
            .UpdateAction("Put").UpdateMethod("Put")
            .DeleteAction("Delete")
            .Key("ID")
        )
        .ID("dxDataGrid")
        .Paging(page => page.PageSize(30))
        .Selection(select => select.Mode(SelectionMode.Multiple))
        .Pager(pager => pager.ShowPageSizeSelector(true)
            .ShowInfo(true)
            .AllowedPageSizes(new List<int> { 30, 50 })
        )
        .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
            .DescendingText("StaffID")
        )
        .ColumnAutoWidth(true)
        .FilterRow(fil => fil.Visible(true))
        .FilterPanel(fi => fi.Visible(true))
        .SearchPanel(search => search.Visible(true)
            .HighlightSearchText(true)
            .Width(500)
        )
        .Columns(columns =>
        {

            columns.AddFor(m => m.ID).AllowEditing(false);

            columns.AddFor(m => m.Date).AllowEditing(false);

            columns.AddFor(m => m.OptionID).AllowEditing(false);

            columns.AddFor(m => m.MONo).AllowEditing(false);

            columns.AddFor(m => m.Shift).AllowEditing(true);

            columns.AddFor(m => m.WorkID);

            columns.AddFor(m => m.WorkName);

            columns.AddFor(m => m.StaffID);

            columns.AddFor(m => m.Time);

            columns.AddFor(m => m.Note);

            columns.AddFor(m => m.Status).AllowEditing(false).Caption("Trạng thái");
        })
        .ShowColumnHeaders(true)
        .ShowRowLines(true)
        .Editing(e => e
            .AllowUpdating(true)
            .AllowDeleting(true)
            .Mode(GridEditMode.Row)
        )
        .OnRowPrepared("OnRowPrepared")
        .OnEditingStart("CheckBeforeUpdate")
        .OnRowRemoving("CheckBeforeUpdate")
)
<div id="ListHistory">
    Tổng thời gian: 0 <br />
    Thời gian thêm giờ: 0
</div>

@(Html.DevExtreme().Button()
    .Text("Duyệt WTS")
    .ID("btnOKWTS")
    .Type(ButtonType.Normal)
    .OnClick("OKWTS")
    .Width(150)
)

<script>
    var totalTime = 0;
    var totalOvertime = 0;
    function OnRowPrepared(e) {
        if (e.rowType == "header") {
            caledID = new Array();
        }

        if (e.rowType == "data") {
            for (var i = 0; i < caledID.length; i++) {
                if (caledID[i] != e.data.ID) {
                    continue;
                }

                return;
            }
            caledID.push(e.data.ID);
            totalTime += e.data.Time;
            if (e.data.Overtime) {
                totalOvertime += e.data.Time;
            }
        }

        DisplayTotalTime();
    }

    function CheckBeforeUpdate(e) {
        $.ajax({
            url: '@Url.Action("GetByStaffID", "WTS")',
            dataType: 'Json',
            type: 'GET',
            data: { 'staffID': '@staffID' },
            cache: false,
            success: function (data) {
                if (data.Status == "OK")
                {
                    alter("Chỉ người được cấp quyền duyệt WTS của nhân viên này mới sửa hoặc xóa đc WTS");
                    return;
                }

                e.cancel = true;
            },
        });
    }

    function DisplayTotalTime() {
        var ListHistory = '';
        ListHistory += 'Tổng thời gian là: ' + totalTime + '</br>';
        ListHistory += 'Thời gian thêm giờ: ' + totalOvertime;
        $("#ListHistory").html(ListHistory);
    }

    function OKWTS() {
        var dataGrid = $("#dxDataGrid").dxDataGrid("instance");
        var selected = [{ Date: getDateValue(), StaffID: getStaffID(), StaffName:'',Shift:'',Time:0,Checked:'' }];
        $.ajax({
            url: '@Url.Action("OKWTSGT", "WTS")',
            dataType: 'Json',
            type: 'POST',
            data: { 'data': selected },
            cache: false,
            success: function (data) {
                alert(data.Values);
                dataGrid.refresh();
            },
        });
    }

    function getDateValue() {
        var a = '@date';
        return a;
    }

    function getShiftValue() {
        var a = '@shift';
        return a;
    }

    function getStaffID() {
        var a = '@staffID';
        return a;
    }
</script>