
@{

}



@(Html.DevExtreme().DataGrid<NNworking.Models.C222_Machine>()
    .DataSource(ds => ds.WebApi()
        .RouteName("C222_MachineApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ID")
    )
    .Paging(page => page.PageSize(10))
    .Pager(pager => pager.ShowPageSizeSelector(true)
        .ShowInfo(true)
        .AllowedPageSizes(new List<int> { 30, 50, 100, 200 })
    )
    .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
        .DescendingText("MachineID")
    )
    .ColumnAutoWidth(true)
    .FilterRow(fil => fil.Visible(true))
    .FilterPanel(fi => fi.Visible(true))
    .SearchPanel(search => search.Visible(true)
        .HighlightSearchText(true)
        .Width(500)
    )
    //.HeaderFilter(headFil => headFil.Visible(true))
    .ShowColumnHeaders(true)
    .ShowRowLines(true)
    .RemoteOperations(true)
    .Columns(columns =>
    {

        columns.AddFor(m => m.MachineID).Caption("Máy gia công");

        columns.AddFor(m => m.OriginalMachine).Caption("Máy gốc");

        columns.AddFor(m => m.MachineGroup).Caption("Nhóm máy");

        columns.Add().Caption("").AllowEditing(false).CellTemplate(new JS("TaoTK"));
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowDeleting(true)
        .AllowUpdating(true)
        .Mode(GridEditMode.Form)
    )
)

<script>
    function TaoTK(container, options) {
        var id = options.data.ID;
        var row = options.data;
        var machineID = options.data.MachineID;

        var grid = $("dxDataGrid").dxDataGrid("instance");
        $('<div id="dxButton_TraDao_' + id + '" /><a href="#" onclick ="CheckAndCreateUserForMachine(\'' + machineID + '\')">Tạo TK</a></div>').appendTo(container);
    }

    function CheckAndCreateUserForMachine(machineID) {
        $.ajax({
            url: '@Url.Action("CheckAndCreateUserForMachine", "ProcessingDept")',
            dataType: 'JSON',
            type: 'POST',
            cache: false,
            data: { 'machineID': machineID },
            success: function (data) {
                alert(data.Values);

            },
        });
    }
</script>