<div class="row">
    <section class="col-lg-12 connectedSortable">
        <div class="box box-primary">
            @Html.Partial("~/Views/Index/SubItem/_Chart_Month_FinishNumber.cshtml")
        </div>
    </section>
</div>
<div class="row">
    <section class="col-lg-12 connectedSortable">
        <div class="box box-primary">
            @Html.Partial("~/Views/Index/SubItem/_BusOder_Month_FinishOrder.cshtml")
        </div>
    </section>
</div>
