@{
    ViewBag.Title = "Công việc hàng ngày";
}
<!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        @Html.Partial("~/Views/Index/_IndexContentTop.cshtml")
        @Html.Partial("~/Views/Index/_IndexContentMain.cshtml")
    </section>
    <!-- /.content -->
<!-- /.content-wrapper -->
@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}

