<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkingNotification.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkingNotification.Settings>
            <setting name="LGSMTP" serializeAs="String">
                <value>156.147.1.150</value>
            </setting>
            <setting name="LGSender" serializeAs="String">
                <value>minh.cao@lge.com</value>
            </setting>
            <setting name="LinkWeb" serializeAs="String">
                <value>10.226.90.26</value>
            </setting>
        </WorkingNotification.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
