
@{
    ViewBag.Title = "InventoryInputHistory";
}

<h2>Danh sách hàng nhập kho</h2>

@(Html.DevExtreme().DataGrid<NNworking.Models.C242_InventoryInputHistory>()
    .DataSource(ds => ds.WebApi()
        .RouteName("C242_InventoryInputHistoryApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ID")
    )
    .ID("dxDataGridInventoryInputHistory")
    .Paging(page => page.PageSize(30))
    .Pager(pager => pager.ShowPageSizeSelector(true)
        .ShowInfo(true)
        .AllowedPageSizes(new List<int> { 30, 50, 100, 200 })
    )
    .Sorting(sort => sort.Mode(GridSortingMode.Multiple)
        .DescendingText("ID")
    )
    .ColumnAutoWidth(true)
    .FilterRow(fil => fil.Visible(true))
    .FilterPanel(fi => fi.Visible(true))
    .SearchPanel(search => search.Visible(true)
        .HighlightSearchText(true)
        .Width(500)
    )
    //.HeaderFilter(headFil => headFil.Visible(true))
    .ShowColumnHeaders(true)
    .ShowRowLines(true)
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.ID);

        columns.AddFor(m => m.Date);

        columns.AddFor(m => m.OrderNo);

        columns.AddFor(m => m.Qty);

        columns.AddFor(m => m.GiaDe);

        columns.AddFor(m => m.Note);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
    .OnInitNewRow("OnInitNewRow")
)

<script>
    function OnInitNewRow(e) {
        e.data.ID = 0;
    }
</script>