<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
        @Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"])
        <small>@Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Action"])</small>
    </h1>
    <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
