.heartbit {
    animation: 1s ease-out 0s normal none infinite running heartbit;
    border: 5px solid #ff0844;
    border-radius: 70px;
    height: 25px;
    position: absolute;
    right: -8px;
    top: -15px;
    width: 25px;
    z-index: 10;
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }

    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1;
    }

    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }

    to {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }

    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }

    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}



.button-indicator {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.dx-datagrid-headers .dx-header-row .dx-datagrid-drag-action {
    color: #fafafa;
    background-image: linear-gradient(to bottom, #596b8c, #556b94, #516c9c, #4d6ca4, #496cac);
}

.dx-datagrid-headers .dx-header-row .dx-datagrid-action {
    color: #fafafa;
    background-image: linear-gradient(to bottom, #596b8c, #556b94, #516c9c, #4d6ca4, #496cac);
}

.dx-datagrid-content .dx-header-row .dx-command-select {
    background-image: linear-gradient(to bottom, #596b8c, #556b94, #516c9c, #4d6ca4, #496cac);
}

.dx-datagrid-headers .dx-header-row .dx-command-edit {
    background-image: linear-gradient(to bottom, #596b8c, #556b94, #516c9c, #4d6ca4, #496cac);
}


.dx-context-menu .dx-icon:before {
    color: #f05b41;
}

.dx-datagrid-headers .dx-column-indicators .dx-header-filter {
    color: white;
}



ul li {
    line-height: 1
}

#GeneralDataGrid {
    max-height: 1000px;
}

.Orange {
    color: #fff;
    background-image: linear-gradient(to bottom, #ff5858 0%, #f09819 100%);
}


#dxButton_CreateReport .dx-icon-plus {
    color: #fff
}

#dxLookUp_Customer, #dxSelectBox_Group {
    margin-left: 15px;
}

#dxLookup_Year, #dxDropDownBox_DetailReport, #dxSelectBox_Swap, #dxButton_Swap {
    margin-left: 5px;
}

#dxCheckBox_TextWrap {
    margin-left: 15px;
}

#TDTKGrid, #ReportGrid, #Comp_Grid {
    margin-top: -27px;
}

#dxCheckBox_TextWrap .dx-checkbox-text {
    padding-top: 4px;
}

#dxLoadPanel_TDTK .dx-loadpanel-message {
    background: #f05b41;
}

#sidebar .nav-item {
    position: relative;
}

#sidebar > ul > li > a .label {
    position: absolute;
    right: 38px;
    top: 11px;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.label-rounded {
    border-radius: 60px;
}

.label-custom {
    background-color: #00897b;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #1976d2;
}

.label-warning {
    background-color: #ffb22b;
}

.label-danger {
    background-color: #ef5350;
}

.label-megna {
    background-color: #00897b;
}

.label-primary {
    background-color: #5c4ac7;
}

.label-purple {
    background-color: #7460ee;
}

.label-red {
    background-color: #fb3a3a;
}

.label-inverse {
    background-color: #2f3d4a;
}

.label-default {
    background-color: #f2f4f8;
}

.label-white {
    background-color: #ffffff;
}

.label-light-success {
    background-color: #e8fdeb;
    color: #26dad2;
}

.label-light-info {
    background-color: #cfecfe;
    color: #1976d2;
}

.label-light-warning {
    background-color: #fff8ec;
    color: #ffb22b;
}

.label-light-danger {
    background-color: #f9e7eb;
    color: #ef5350;
}

.label-light-megna {
    background-color: #e0f2f4;
    color: #00897b;
}

.label-light-primary {
    background-color: #f1effd;
    color: #5c4ac7;
}

.label-light-inverse {
    background-color: #f6f6f6;
    color: #2f3d4a;
}

.OrangeText {
    color: #f05b41;
    font-weight: 500;
}

.GreenText {
    color: lawngreen;
    font-weight: 500;
}

.BlueText {
    color: darkblue;
    font-weight: 500;
}

.VioletText {
    color: darkviolet;
    font-weight: 500;
}

.BrownText {
    color: saddlebrown;
    font-weight: 500;
}


.button-indicator {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
/*------------------------------------------------------------------------------------*/
/* Timeline CSS*/

/*.content-wrapper {
    overflow: visible;
    padding: 0;
    margin: 0;
    transition: all 1s ease;
}*/


.content-wrapper {
    overflow-y: scroll;
    position: relative;
}

    .content-wrapper::before {
        content: '';
        background: rgba(0,0,0,0.2);
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

.structure a {
    color: #44519e;
    text-decoration: none;
}

.structure .timeline {
    top: 150px;
    width: 100%;
    height: 50px;
    /*background: rgba(0,0,0,0.5);*/
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding-left: 10rem;
    border-color: #44519e;
}

    .structure .timeline:before {
        position: relative;
    }

.department {
    color: #44519e;
    color: #fff;
    float: left;
    width: 8rem;
    height: 50px;
    /*padding-left: 80px;*/
}

    .department::before {
        content: '';
        position: absolute;
        height: 100vh;
        width: 1px;
        background: rgba(255,255,255,0.7);
        background: -webkit-linear-gradient(top,rgba(0,0,0,5),rgba(0,0,0,1)); /*Safari 5.1-6*/
        background: -o-linear-gradient(bottom,rgba(0,0,0,5),rgba(0,0,0,1)); /*Opera 11.1-12*/
        background: -moz-linear-gradient(bottom,rgba(0,0,0,5),rgba(0,0,0,1)); /*Fx 3.6-15*/
        background: linear-gradient(to bottom, rgba(0,0,0,5), rgba(255,255,255,1)); /*Standard*/
        margin-top: -100vh;
    }

.structure p.focus {
    position: absolute;
    top: 0;
    margin-left: -14px;
    padding-top: 10px;
    color: #44519e;
}

    .structure p.focus::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 3.5px;
        border-color: #44519e;
    }

    .structure p.focus::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #44519e;
        border-radius: 50%;
        top: -5px;
        left: 9px;
    }

.goal_wrap {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    top: -100px;
    margin-left: -24px;
    font-size: 24px;
    transition: all 0.5s ease;
    color: #44519e;
    border-color: #44519e;
}

    .goal_wrap:hover {
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin-left: -30px;
        font-size: 30px;
        cursor: pointer;
    }

    .goal_wrap.active {
        top: -160px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-left: -40px;
        font-size: 40px;
        cursor: pointer;
        /*color: #5cb85c;
    border-color: #5cb85c;*/
        color: #44519e;
        border-color: #44519e;
        /*color: #f05b41;
    border-color: #f05b41;*/
    }

.bounce {
    animation: bounce 1s .5s;
    transform: scale(0.85);
}

@keyframes bounce {
    0% {
        transform: scale(0.85);
        opacity: 1;
    }

    50% {
        transform: scale(0.95);
        opacity: .7;
    }

    60% {
        transform: scale(0.6);
        opacity: 1;
    }

    80% {
        transform: scale(1.6)
    }

    100% {
        transform: scale(1.1)
    }
}

.DataDetail {
    position: relative;
    width: 100%;
    margin-top: 150px;
}

.content_timeline {
    position: relative;
    width: 100%;
}

#content_child {
    position: absolute;
    width: 100%;
}


#dxButton_Plan, #dxButton_Stock, #dxButton_Buying, #dxButton_Processing, #dxButton_Assembly, #dxButton_Sale, #dxButton_Stock_Claim, #dxButton_Buying_Claim, #dxButton_Processing_Claim, #dxButton_Assembly_Claim {
    float: right;
    margin-left: 10px;
}



.dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row > td > .dx-datagrid-text-content {
    white-space: normal;
}

#dxForm_Detail .dx-state-readonly {
    border-style: solid;
}

/*-- Header Treelist--*/
.dx-treelist-headers .dx-header-row {
    background-image: linear-gradient(to bottom, #596b8c, #556b94, #516c9c, #4d6ca4, #496cac);
    color: #fff;
}

.dx-treelist-headers .dx-column-indicators .dx-header-filter {
    color: #fff;
}

#dxButton_Redundancy_Detail .dx-button-content, #dxButton_Lack_Detail .dx-button-content {
    padding: 0 5px;
}
